<%= form_with(model: volunteer, local: true) do |form| %>
  <% if volunteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h2>

      <ul>
      <% volunteer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :street_address %>
    <%= form.text_field :street_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.number_field :zip %>
  </div>

  <div class="field">
    <%= form.label :county %>
    <%= form.text_field :county %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :university_location_id %>
    <%= form.number_field :university_location_id %>
  </div>

  <div class="field">
    <%= form.label :graduation_year %>
    <%= form.number_field :graduation_year %>
  </div>

  <div class="field">
    <%= form.label :ok_to_email %>
    <%= form.check_box :ok_to_email %>
  </div>

  <div class="field">
    <%= form.label :ok_to_text %>
    <%= form.check_box :ok_to_text %>
  </div>

  <div class="field">
    <%= form.label :ok_to_call %>
    <%= form.check_box :ok_to_call %>
  </div>

  <div class="field">
    <%= form.label :ok_to_mail %>
    <%= form.check_box :ok_to_mail %>
  </div>

  <div class="field">
    <%= form.label :underage %>
    <%= form.check_box :underage %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
