<%= simple_form_for(@box_request_abuse_type) do |form| %>
  <% if box_request_abuse_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box_request_abuse_type.errors.count, "error") %> prohibited this box_request_abuse_type from being saved:</h2>

      <ul>
      <% @box_request_abuse_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.association :box_request, label_method: :id, value_method: :id, include_blank: false %>
  </div>

  <div class="field">
    <%= form.association :abuse_type, label_method: :name, value_method: :id, include_blank: false %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
