<%= form_with(model: box_request_abuse_type, local: true) do |form| %>
  <% if box_request_abuse_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(box_request_abuse_type.errors.count, "error") %> prohibited this box_request_abuse_type from being saved:</h2>

      <ul>
      <% box_request_abuse_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :box_request_id %>
    <%= form.text_field :box_request_id %>
  </div>

  <div class="field">
    <%= form.label :abuse_type_id %>
    <%= form.text_field :abuse_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
