<%= simple_form_for(@meeting, html: { class: 'form-inline' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :meeting_type %>
    <%= f.association :location %>
    <%= f.input :title %>
    <%= f.input :start_time,
                as: :date_time_picker,
                include_blank: true,
                required: false,
                input_html: { value: f.object.start_time,
                              class: "form-field-display-block form-control datetimepicker" } %>
    <%= f.input :end_time,
                as: :date_time_picker,
                include_blank: true,
                required: false,
                input_html: { value: f.object.end_time,
                              class: "form-field-display-block form-control datetimepicker" } %>
    <%= f.input :tenative %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
