<p id="notice"><%= notice %></p>

<h1>Inventory Adjustments</h1>

<table>
  <thead>
    <tr>
      <th>Inventory tally</th>
      <th>Purchase</th>
      <th>Box item</th>
      <th>Total cost</th>
      <th>Adjustment quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventory_adjustments.each do |inventory_adjustment| %>
      <tr>
        <td><%= inventory_adjustment.inventory_tally %></td>
        <td><%= inventory_adjustment.purchase %></td>
        <td><%= inventory_adjustment.box_item %></td>
        <td><%= inventory_adjustment.total_cost %></td>
        <td><%= inventory_adjustment.adjustment_quantity %></td>
        <td><%= link_to 'Show', inventory_adjustment %></td>
        <td><%= link_to 'Edit', edit_inventory_adjustment_path(inventory_adjustment) %></td>
        <td><%= link_to 'Destroy', inventory_adjustment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory Adjustment', new_inventory_adjustment_path %>
