<%= simple_form_for(@box_request, local: true, validate: true) do |form| %>
  <% if @box_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box_request.errors.count, "error") %> prohibited this box_request from being saved:</h2>

      <ul>
      <% @box_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.input :tag_list, as: :text, value: form.object.tag_list.to_s %>
    <br>
  </div>

  <div class="field">
    <%= form.input :summary, as: :text, input_html: {rows: 6} %>
  </div>

  <div class="actions">
    <%= form.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
