<div class='container'>
  <h2>Review Box Request</h2>
  <div class='row'>
    <div class="col pl-3">
      <p>
        <strong>Current situation:</strong>
        <br>
        <%= @box_request.question_re_current_situation %>
      </p>

      <p>
        <strong>How abuse affects life:</strong>
        <br>
        <%= @box_request.question_re_affect %>
      </p>

      <p>
        <strong>Referral source:</strong>
        <br>
        <%= @box_request.question_re_referral_source %>
      </p>

      <p>
        <strong>Not self completed:</strong>
        <br>
        <%= @box_request.question_re_if_not_self_completed %>
      </p>
    </div>

    <div class="col pl-3">
      <%= render 'form', box_request: @box_request %>
    </div>
  </div>

<%= link_to 'Show', @box_request %> |
<%= link_to 'Back', box_requests_path %>
</div>

