<p id="notice"><%= notice %></p>

<h1>Box Requests</h1>

<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th>Question re current situation</th>
      <th>Question re affect</th>
      <th>Question re referral source</th>
      <th>Question re if not self completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @box_requests.each do |box_request| %>
      <tr>
        <td><%= box_request.summary %></td>
        <td><%= box_request.question_re_current_situation %></td>
        <td><%= box_request.question_re_affect %></td>
        <td><%= box_request.question_re_referral_source %></td>
        <td><%= box_request.question_re_if_not_self_completed %></td>
        <td><%= link_to 'Show', box_request %></td>
        <td><%= link_to 'Edit', edit_box_request_path(box_request) %></td>
        <td><%= link_to 'Destroy', box_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Box Request', new_box_request_path %>
