<p id="notice"><%= notice %></p>

<h1>Box Requests</h1>

<%= simple_form_for :box_requests,
                    html: { class: 'form-inline'},
                    url: box_requests_path,
                    method: :get do |f| %>

  <span class="results">
    <%= @box_requests.length %> box requests
  </span>
  <%= select_tag     "filter_by",
                       options_for_select(
                           [:requested,
                            :review_in_progress,
                            :reviewed,
                            :design_in_progress,
                            :designed,
                            :assembly_in_progress,
                            :assembled,
                            :shipping_in_progress,
                            :shipped,
                           ],
                           selected: params[:filter_by]),
                       include_blank: "-- Filter options --",
                       placeholder: "",
                       class: "form-control" %>
  <%= f.button :submit, "Filter", class: "form-group btn btn-success button pull-left", name: nil %>
<% end %>

<table class="table box-requests-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Review</th>
      <th>Design</th>
      <th>Package</th>
      <th>Ship</th>
      <th>Followup</th>
    </tr>
  </thead>

  <tbody>
    <% @box_requests.each do |box_request| %>
      <% box = box_request.box %>
      <tr>
        <td><%= box_request.name %></td>
        <td>
          <%= box_request.reviewer_first_name %>
          <% if box_request.review_declined_by_ids.include?(current_user.id) %>
            (Declined)
          <% elsif !box_request.reviewed_by_id.present? %>
            <%= link_to("claim review", edit_box_request_path(box_request), class: "btn form-group btn-outline-secondary button") %>
          <% elsif box_request.reviewed_by == current_user && !box_request.is_reviewed %>
            <%= link_to("review", edit_box_request_path(box_request), class: "btn form-group btn-outline-secondary button") %>
          <% end %>
        </td>
        <td>
          <%= box_request.designer_first_name %>
          <% if box %>
            <% if box_request.reviewed? && !box.designed_by_id.present? %>
              <%= link_to("Design now", box_design_new_path(box), class: "btn btn-default") %>
              <%= link_to("Design later", box_design_new_path(box), class: "btn btn-default") %>
            <% elsif box.designed_by == current_user && !box.is_designed %>
              <%= link_to("design", box_design_new_path(box), class: "btn btn-default") %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= box_request.assembler_first_name %>
          <% if box %>
            <% if box.designed? && !box.assembled_by_id.present? %>
              <%= link_to("claim packaging (TBD)", box_assembly_new_path(box), class: "btn btn-default") %>
            <% elsif box.assembled_by == current_user && !box.is_assembled %>
              <%= link_to("package", box_assembly_new_path(box), class: "btn btn-default") %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= box_request.shipper_first_name %>
          <% if box %>
            <% if box.assembled? && !box.shipped_by_id.present? %>
              <%= link_to("claim shipping (TBD)", box_shipment_mark_as_shipped_path(box), class: "btn btn-default") %>
            <% elsif box.shipped_by == current_user && !box.is_shipped %>
              <%= link_to("mark as shipped", box_shipment_mark_as_shipped_path(box), class: "btn btn-default") %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if box %>
            <% if box.shipped? && !box_request.followup_sent? %>
              <%= link_to("mark as follwed up (TBD)", root_path, class: "btn btn-default") %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
