<p id="notice"><%= notice %></p>

<h1>Box Requests</h1>

<form>
  <%= select_tag :sort_by, {
    review: "Review Stage",
    design: "Design Stage",
    packing: "Packing Stage",
    shipping: "Shipping Stage",
  }.map { |attribute, label|
    "<option value=#{attribute.to_s.inspect}>#{label}</option>"
  }.join.html_safe %>

  <button>Sort this list</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Reviewed by</th>
      <th>Designed by</th>
      <th>Assembled by</th>
      <th>Shipped by</th>
      <th>Followup sent?</th>
    </tr>
  </thead>

  <tbody>
    <% @box_requests.each do |box_request| %>
      <tr>
        <td><%= box_request.id %></td>
        <td><%= box_request.reviewer_name %></td>
        <td><%= box_request.designer_name %></td>
        <td><%= box_request.assembler_name %></td>
        <td><%= box_request.shipper_name %></td>
        <td><%= box_request.followup_sent? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
