<p id="notice"><%= notice %></p>

<h1>Box Requests</h1>

<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th>Current Situation</th>
      <th>Referral Source</th>
      <th>Not Self Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @box_requests.each do |box_request| %>
      <tr>
        <td><%= box_request.summary %></td>
        <td><%= box_request.question_re_current_situation %></td>
        <td><%= box_request.question_re_referral_source %></td>
        <td><%= box_request.question_re_if_not_self_completed %></td>
        <td><%= link_to 'Show', box_request %></td>
        <td><%= link_to 'Review', edit_box_request_path(box_request) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
