<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @box_request.summary %>
</p>

<p>
  <strong>Question re current situation:</strong>
  <%= @box_request.question_re_current_situation %>
</p>

<p>
  <strong>Question re affect:</strong>
  <%= @box_request.question_re_affect %>
</p>

<p>
  <strong>Question re referral source:</strong>
  <%= @box_request.question_re_referral_source %>
</p>

<p>
  <strong>Question re if not self completed:</strong>
  <%= @box_request.question_re_if_not_self_completed %>
</p>

<%= link_to 'Edit', edit_box_request_path(@box_request) %> |
<%= link_to 'Back', box_requests_path %>
