<%= form_with(model: purchase, local: true) do |form| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.text_field :location_id %>
  </div>

  <div class="field">
    <%= form.label :total_price %>
    <%= form.text_field :total_price %>
  </div>

  <div class="field">
    <%= form.label :purchased_by_id %>
    <%= form.text_field :purchased_by_id %>
  </div>

  <div class="field">
    <%= form.label :reimbursed_by_id %>
    <%= form.text_field :reimbursed_by_id %>
  </div>

  <div class="field">
    <%= form.label :reimbursement_check_number %>
    <%= form.text_field :reimbursement_check_number %>
  </div>

  <div class="field">
    <%= form.label :reimbursement_status %>
    <%= form.text_field :reimbursement_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
