<p id="notice"><%= notice %></p>

<h1>Purchases</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Total price</th>
      <th>Purchased by</th>
      <th>Reimbursed by</th>
      <th>Reimbursement check number</th>
      <th>Reimbursement status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.location.name %></td>
        <td><%= purchase.total_price %></td>
        <td><%= purchase.purchased_by&.name %></td>
        <td><%= purchase.reimbursed_by&.name %></td>
        <td><%= purchase.reimbursement_check_number %></td>
        <td><%= purchase.reimbursement_status %></td>
        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
