<%= simple_form_for(@box, html: { class: 'form-inline' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :box_request %>
    <%= f.association :designed_by %>
    <%= f.association :design_reviewed_by %>
    <%= f.association :shipped_by %>
    <%= f.association :shipping_payment %>
    <%= f.input :shipped_at %>
    <%= f.input :shipment_tracking_number %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
