<nav class="app-nav">
  <%= link_to root_path, class: 'nav-icon home-nav-icon' do %>
    <img src="https://voices-of-consent-static-images.s3.amazonaws.com/Logo.svg" title="Voices of Consent" />
  <% end %>
  <% if user_signed_in? %>
    <%= link_to box_requests_path, class: 'nav-icon' do %>
      <i class="fas fa-user-clock"></i>
      <span>Status</span>
    <% end %>

    <% if current_user.is_admin? %>
      <a class="nav-icon" href="/box_requests?filter_by=review_in_progress">
        <i class="fas fa-address-card"></i>
        <span>Review</span>
      </a>
      <a class="nav-icon" href="/box_requests?filter_by=design_in_progress">
        <i class="fas fa-object-group"></i>
        <span>Design</span>
      </a>
      <a class="nav-icon" href="/box_requests?filter_by=assembly_in_progress">
        <i class="fas fa-box-open"></i>
        <span>Packing</span>
      </a>
      <a class="nav-icon" href="/box_requests?filter_by=shipping_in_progress">
        <i class="fas fa-box"></i>
        <span>Shipping</span>
      </a>
    <% else %>
      <% if User.where(user_id: current_user.id).permission('reviewer') %>
        <a class="nav-icon" href="/box_requests?filter_by=review_in_progress&current_user_id=<%= current_user.id %>">
          <img src="https://voices-of-consent-static-images.s3.amazonaws.com/Review+Stage.svg" title="Review">
          <span>Review</span>
        </a>
      <% end %>
      <% if User.where(user_id: current_user.id).permission('designer') %>
        <a class="nav-icon" href="/box_requests?filter_by=design_in_progress&current_user_id=<%= current_user.id %>">
          <img src="https://voices-of-consent-static-images.s3.amazonaws.com/Design+Stage.svg" title="Design">
          <span>Design</span>
        </a>
      <% end %>
      <% if User.where(user_id: current_user.id).permission('assembler') %>
        <a class="nav-icon" href="/box_requests?filter_by=assembly_in_progress&current_user_id=<%= current_user.id %>">
          <img src="https://voices-of-consent-static-images.s3.amazonaws.com/Packing+Stage.svg" title="Packing">
          <span>Packing</span>
        </a>
      <% end %>
      <% if User.where(user_id: current_user.id).permission('shipper') %>
        <a class="nav-icon" href="/box_requests?filter_by=shipping_in_progress&current_user_id=<%= current_user.id %>">
          <img src="https://voices-of-consent-static-images.s3.amazonaws.com/Shipping+boc+redux.svg" title="Shipping">
          <span>Shipping</span>
        </a>
      <% end %>
    <% end %>
  <% end %>

  <div class="nav-item dropdown">
    <a class="nav-link" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-expanded="false">
      <% if user_signed_in? %>
        <% if current_user.avatar.attached? %>
          <img src="<%= url_for(current_user.avatar) %>" class="avatar"/>
        <% else %>
          <img src="http://placekitten.com/120/120" class="avatar" />
        <% end %>
        <div class="user-info">
          <p><%= current_user.name %></p>
          <% if current_user.is_admin? %>
            <small>Administrator</small>
          <% else %>
            <small>Volunteer</small>
          <% end %>
        </div>
      <% else %>
        Account
      <% end %>
      <span class="fa fa-cog"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
      <% if user_signed_in? %>
        <% if current_user.is_admin? %>
          <%= link_to 'Admin', admin_path, class: 'dropdown-item' %>
          <a class="dropdown-item" href="#">Add a Team Member</a>
          <li role="separator" class="divider"></li>
        <% end %>
        <a class="dropdown-item" href="#">Account Settings</a>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
      <% else %>
        <%= link_to('Login', new_user_session_path, class: "dropdown-item") %>
      <% end %>
    </div>
  </div>
</nav>
<!-- FIXME: do mobile nav here! -->
