
<%= simple_form_for(@inventory_tally,
  :defaults => {
    :label_html => { :class => "col-4" },
    :input_html => { :class => "col-8" },
    :wrapper_html => { :class => "row" },
    :submit_html => { :class => "btn, btn-info"},
    :html => { :class => "form-inline" }
  }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs container">
      <%= f.association :inventory_type %>
      <%= f.association :storage_location, collection: Location.storage_unit %>
      <%= f.input :additional_location_info,
                  as: :text,
                  input_html: {value: f.object.additional_location_info,
                               rows: 2} %>
  </div>

  <div class="form-group row mb-0" style="margin: 2rem 0">
    <div class="col-12 offset-4" style="padding-left: 0 !important;">
      <%= f.button :submit, class: "btn-primary" %>

      <button class="btn btn-outline-secondary">
        <%= link_to "Back", :back %>
      </button>
    </div>
  </div>
<% end %>