<p id="notice"><%= notice %></p>

<h1>Inventory Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventory_types.each do |inventory_type| %>
      <tr>
        <td><%= inventory_type.name %></td>
        <td><%= inventory_type.description %></td>
        <td><%= link_to 'Show', inventory_type %></td>
        <td><%= link_to 'Edit', edit_inventory_type_path(inventory_type) %></td>
        <td><%= link_to 'Destroy', inventory_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory Type', new_inventory_type_path %>
