<%= link_to "Invite a New User", new_user_invitation_path, class: "btn btn-secondary m-2"%>
<table class="table">
  <tr>
    <th>Email</th>
    <th>Invited and accepted?</th>
  </tr>
  <% User.all.each do |user| %>
    <tr>
      <td> <%= user.email %> </td>
      <td>
        <% if user.invitation_sent_at? && user.invitation_accepted? %>
          <%= "Invited and Accepted" %>
        <% elsif user.invitation_sent_at? || user.invitation_accepted? %>
          <%= "Invited but not Accepted yet" %>
        <% else %>
          <%= "Not Invited" %>
        <% end %>
      </td>
   </tr>
  <% end %>
</table>
