<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/navigation' %>

    <%= yield :header %>

    <div class="container">
      <%= yield %>
    </div>

    <div class="container" id="react-root"></div>

    <%= render 'shared/footer' %>
  </body>
</html>
