<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/navigation' %>

    <div class="container" id="react-root">
      <%= yield :title %>
      <%= yield :breadcrumbs %>
      <div class="row">
        <%= render 'shared/sidebar' %>
        <%= yield %>
      </div>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
