<!doctype html>
<html>
  <head>
    <title>Voices Of Consent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'embed.css', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'embed.js', async: Rails.env.production?, 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
