<!doctype html>
<html>
  <head>
    <title>Voices Of Consent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'embed' %>
    <%= javascript_pack_tag 'embed' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
